<%- include("templates/base.ejs") %>
<div id="content">
    <div class="box-container">
      <h1>Admin panel</h1>
      <div class="admin-site-info">
        <div class="admin-site-info-card">
          <span class="admin-site-info-card-title"><%= stats.registeredUsers %></span>
          <span class="admin-site-info-card-description">registered users</span>
        </div>
        <div class="admin-site-info-card">
          <span class="admin-site-info-card-title"><%= stats.postsCreated %></span>
          <span class="admin-site-info-card-description">posts</span>
        </div>
        <div class="admin-site-info-card">
          <span class="admin-site-info-card-title"><%= stats.administrators %></span>
          <span class="admin-site-info-card-description">administrators</span>
        </div>
      </div>
      <div class="admin-layout">
        <div class="window admin-user-reports">
          <div class="window-titlebar">
            <span>User reports:</span>
          </div>
          <div class="window-content">
            <div class="user-report">
              <span>user: RGB</span>
              <span>reported by: exampleUser</span>
              <span>reported for: Tax evasion</span>
              <span>
                <a href="#">delete report</a> | <a href="#">mark as done</a></span>
            </div>
          </div>
        </div>
        <div class="window">
          <div class="window-titlebar">
            <span>Stuff:</span>
          </div>
          <div class="window-content">
            <div class="user-actions-layout">
              <form action="/actions/admin/banUser" method="post" class="settings-form">
                <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">

                <input type="text" name="username">
                <input type="submit" value="Ban user">
              </form>

              <form action="/actions/admin/giveAdminPerms" method="post" class="settings-form">
                <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">

                <input type="text" name="username">
                <input type="submit" value="Give admin permissions">
              </form>
            </div>
          </div>
        </div>
        <div class="window">
          <div class="window-titlebar">
            <span>About:</span>
          </div>
          <div class="window-content">
            <span>git hash: aaa,</span>
            <span>node.js version: v21</span>
          </div>
        </div>
      </div>
    </div>
</div>
<%- include("templates/footer.ejs") %>
</body>
</html>
