<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>bojanSocial</title>

    <meta property="og:title" content="bojan social">
    <meta property="og:description" content="the social media site designed for fellow bojans.">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="bojan social">
    <meta property="og:image" content="http://<%- req.get('host') %>/img/BojanSocialIcon.png">

    <meta name="twitter:card" content="http://<%- req.get('host') %>/img/BojanSocialBanner.png">

    <link rel="stylesheet" href="/dist/new-web.css?v=?v=<%= new Date().getDate() % 4 %>">

    <% if (typeof css != "undefined") { %>
    <link rel="stylesheet" href="<%= css %>">
    <% } %>

    <script src="/dist/bojan.min.js?v=<%= new Date().getDate() % 4 %>"></script>
</head>

<body>
  <div class="site-container">
    <% if (typeof normalHeader != "undefined") { %>
    <%- include("normal-header.ejs") %>
    <% } else { %>
    <%- include("header.ejs") %>
    <% } %>
